@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Azure Global BootCamp 2020
    </h1>
    <img src="~/images/logo2.png" />
</div>

<div>
    <h3><u>Information</u></h3>
    <p>
        Due to the cancellation of the <a href="https://globalazure.net/" target="_blank">Azure Global Bootcamp</a> (which you can read about <a href="https://globalazure.net/Blog/Post/190/Global-Azure-and-COVID-19" target="_blank">here</a>), we have decided to run an online version due to the physical version(s) around the globe being cancelled.
    </p>
    <p>
        <h3>What we provide: -</h3>

        <ul>
            <li>Dedicated <a href="https://bit.ly/39xgmb5">Youtube Channel</a> to host <strong>your</strong> video contribution(s).</li>
        </ul>
    </p>

    <p>

        <h3>Our Ask</h3>

        We are looking for contributions on <strong>any</strong> Azure Topic, dont be put off if someone is already doing that topic, your take
        on the subject will be different, and we ecourage <strong>all</strong> contributions.
    </p>
    <p>
        We are looking for either: -
        <ul>
            <li>If you haven't already please fill out this <strong><a href="https://bit.ly/2xGxduJ" target="_blank">form</a></strong>.</li>
            <li>A video contribution, lets say <strong>15-45</strong> min video on an Azure topic <strong>(we will host this and supply a onedrive link for you to upload too)</strong>.</li>
        </ul>
    </p>

    <p>
        <strong>Any Questions?</strong>, if your interested get in touch with <a href="https://twitter.com/Pixel_Robots" target="_blank">Richard Hooper</a>, <a href="https://twitter.com/HmsBarona" target="_blank">Hugo Barona, <a href="https://twitter.com/SteveNewall">Steve Newall</a> or <a href="https://twitter.com/gregor_suttie" target="_blank">Gregor Suttie</a>.
</p>

    <p>
        Note the content will <b>remain online forever</b>, we wont take any of it down, unless upon request.
    </p>

</div>
